# Ignore environment variables file
backend/venv/

# Ignore Python bytecode directories
__pycache__/

# Ignore twophase module
backend/app/twophase/

# Ignores local database
backend/app/cube.db

# Ignores model
backend/app/best.pt